/*CSS Stylesheet */
:root {
  --primary-color:#9fc4bc;
  --secondary-color: #432303;
  --tertiary-color: #eda539;
  --text-primary-color: #f5ffee;
  --text-secondary-color: #dd7326;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Playfair Display", serif;
}

.main {
  background-color: var(--primary-color);
  align-items: center;
  height: 100%;
}

body {
  height: 100vh;
}

.pyd.primaryBkgrnd {
  background-color: #f3f2ee;
}

.pyd.secondaryBkgrnd {
  background-color: #5bc4c3;
}


.hatco.primaryBkgrnd {
  background-color: black;
}

.hatco.secondaryBkgrnd {
  background-color: #29abe2;
}

.aotg.primaryBkgrnd {
  background-color: var(--primary-color);
}

.aotg.secondaryBkgrnd {
  background-color: var(--tertiary-color);
}

header {
  position: relative;
}

nav {
  position: absolute;
  top: 0;
  right: 0;
}

h1 {
  color: var(--secondary-color);
  text-align: center;
  font-size: 32px;
}

h2 {
  color: var(--secondary-color);
  text-align: center;
}

h3 {
  color: var(--secondary-color);
  text-align: center;
}

p {
  color: var(--text-primary-color);
  text-align: center;
}

.flexContainer {
  display:grid;
  grid-template-rows: 1fr;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 250px;
  max-height: 250px;
}

.trees {
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 500px;
}

.checked {
  text-decoration: line-through;
}

.secondaryBkgrnd {
  background-color: var(--tertiary-color);
}

/* Dropdown Button - Select Your Travel Agency*/
.dropbtn {
  background-color: var(--text-primary-color);
  color: var(--secondary-color);
  padding: 12px;
  font-size: 16px;
  border: .5px solid var(--secondary-color);
  box-shadow: 0px 8px 16px 0px var(--secondary-color);
}

.dropdown {
  text-align: center;
  position: relative;
  display: block;
}

.dropdown-content {
  text-align: center;
  display: none;
  position: relative;
  background-color: var(--text-primary-color);
  box-shadow: 0px 8px 8px 0px var(--secondary-color);
  z-index: 1;
}

.dropdown-content a {
  color: var(--secondary-color);
  padding: 12px 12px;
  text-decoration: none;
  text-align: center;
  display: block;
}

.dropdown-content a:hover {
  background-color: var(--text-secondary-color);
  color: var(--text-primary-color);
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*Activities View*/
.activities {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows:1fr 1fr 1fr 1fr;
  padding: 4px;
}

.itinerary {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: var(--text-primary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  color: var(--secondary-color);
  text-align: center;
}
.homeport {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: var(--text-primary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  padding: 2px;
  margin:2px;
  color: var(--secondary-color);
  text-align: center;
}

.ship-facts {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: var(--text-primary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  padding: 2px;
  margin:2px;
  color: var(--secondary-color);
  text-align: center;
}

.fun {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: var(--text-primary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  padding: 2px;
  margin:2px;
  color: var(--secondary-color);
  text-align: center;
}

.excursions {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: var(--text-primary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  padding: 2px;
  margin:2px;
  color: var(--secondary-color);
  text-align: center;
}

.weather {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  background-color: var(--text-primary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  padding: 2px;
  margin:2px;
  color: var(--secondary-color);
  text-align: center;
}

.packing {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
  background-color: var(--text-primary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  padding: 2px;
  margin:2px;
  color: var(--secondary-color);
  text-align: center;
}

/* Scavenger View */
#scavengerHunt.scavenger {
  color: var(--secondary-color);
}

.preCruise {
  background-color: var(--text-primary-color);
  border-radius: 10px;
  padding: 2px;
  margin: 2px;
  color: var(--secondary-color);
  text-align:center;
}

.embarkation {
  background-color: var(--text-primary-color);
  border-radius: 10px;
  padding: 2px;
  margin: 2px;
  color: var(--secondary-color);
  text-align:center;
}

.sailing {
  background-color: var(--text-primary-color);
  border-radius: 10px;
  padding: 2px;
  margin: 2px;
  color: var(--secondary-color);
  text-align:center;
}

.ports {
  background-color: var(--text-primary-color);
  border-radius: 10px;
  padding: 2px;
  margin: 2px;
  color: var(--secondary-color);
  text-align:center;
}

/* Barcrawl View */
#barCrawl {
  color: var(--secondary-color);
  background-color: var(--text-primary-color);
  border-radius: 10px;
  padding: 2px;
  margin: 2px;
  text-align:center;
}

/* .popup {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--text-primary-color);
  display: none;
}
.popup-content {
  background-color: var(--text-primary-color);
  margin: 10% auto;
  padding: 20px;
  border: 1px solid var(--secondary-color);
  width: 30%;
  font-weight: bolder;
}
.popup-content button {
  display: block;
  margin: 0 auto;
} */

/* .show {
  display: block;
} */

/*Form*/
.form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 250px;
  max-height: 250px;
  color: var(--secondary-color);
}

.message {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.formSub {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 250px;
  max-height: 250px;
  background-color: var(--text-primary-color);
  color: var(--secondary-color);
  border-radius: 10px;
  padding: 5px;
}

/*Footer*/
footer {
  display: block;
  text-align: center;
  font-family:"Playfair Display";
  color: var(--secondary-color);
}
