/*CSS Stylesheet */
:root {
  --primary-color:#9fc4bc;
  --secondary-color: #432303;
  --tertiary-color: #eda539;
  --text-primary-color: #f5ffee;
  --text-secondary-color: #dd7326;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Playfair Display", serif;
}

.main {
  background-color: var(--primary-color);
  align-items: center;
  height: 100%;
}

body {
  height: 100vh;
}

@media only screen and (max-width: 450px) {
.main {
  height: auto;
  width: auto;
}

.trees {
  max-width: 350px;
}

.fb-login-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.center {
  max-width: 350px;
}

p {
  font-size: 16px;
}

.flexContainer {
  display: flex;
  flex-direction: column;
}
}

/* PYD Styles */
.pyd.primaryBkgrnd {
  background-color: #f3f2ee;
}
.pyd.secondaryBkgrnd {
  background-color: #5bc4c3;
}
.pyd.h1,
.pyd.h2,
.pyd.h3 {
  color: #013e8f;

  text-align: center;
  font-size: 32px;
  padding: 2px;
}

/* HATCo Styles */
.hatco.primaryBkgrnd {
  background-image: url("/assets/img/HATCoBkgrnd.jpg");
}
.hatco.secondaryBkgrnd {
  background-color: #29abe2;
}
.hatco.h1,
.hatco.h2,
.hatco.h3 {
  color: #ffffff;
  text-align: center;
  font-size: 32px;
  padding: 2px;
}

/* AOTG Styles */
.aotg.primaryBkgrnd {
  background-color: var(--primary-color);
}
.aotg.secondaryBkgrnd {
  background-color: var(--tertiary-color);
}

header {
  position: relative;
}

h1 {
  color: var(--secondary-color);
  text-align: center;
  font-size: 32px;
  padding: 2px;
}

h2,
h3,
h4 {
  color: var(--secondary-color);
  text-align: center;
  padding: 2px;
}


p {
  color: var(--secondary-color);
  text-align: center;
  padding: 2px;
}

.flexContainer {
  display:grid;
  grid-template-rows: 1fr;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 350px;
  height: auto;
}

.trees {
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 500px) {
  .center{
    max-width: 80%
  }
  .flexContainer {
    text-align: center;
  }
  .trees {
    max-width: 80%
  }
}

.checked {
  text-decoration: line-through;
}

/* Dropdown Menus*/
.dropdown {
  text-align: center;
  position: relative;
  display: block;
}

/* Brand Table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid var(--secondary-color);
  padding: 8px;
  text-align: left;
}

th {
  background-color: darkblue;
  color: var(--text-primary-color);
}

/*Activities View*/
.activities {
  display: flex;
  flex-wrap: wrap;
  padding: 4px;
}

.itinerary {
  flex: 1 1 100%;
  order: 1;
  background-color: var(--text-primary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  padding: 2px;
  margin: 4px;
  color: var(--secondary-color);
  text-align: center;
}

.homeport,
.ship-facts {
  flex: 1 1 calc(50% - 8px);
  order: 2;
  background-color: var(--text-primary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  padding: 2px;
  margin: 4px;
  color: var(--secondary-color);
  text-align: center;
}

.weather,
.excursions {
  flex: 1 1 calc(50% - 8px);
  order: 3;
  background-color: var(--text-primary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  padding: 2px;
  margin: 4px;
  color: var(--secondary-color);
  text-align: center;
}

.fun,
.packing {
  flex: 1 1 calc(50% - 8px);
  order: 4;
  background-color: var(--text-primary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  padding: 2px;
  margin: 4px;
  color: var(--secondary-color);
  text-align: center;
}

/* Scavenger View */
.preCruise {
  background-color: var(--text-primary-color);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  text-align:center;
}

.embarkation {
  background-color: var(--text-primary-color);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  text-align:center;
}

.sailing {
  background-color: var(--text-primary-color);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  text-align:center;
}

.ports {
  background-color: var(--text-primary-color);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  text-align:center;
}

/* Barcrawl View */
#barCrawl {
  background-color: var(--text-primary-color);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  text-align:center;
}


/*Form*/
.form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 250px;
  max-height: 250px;
}

#newBrand {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  max-height: 500px;
  padding: 10px 0px 10px 0px;
}

#submit {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.message {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.formSub {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 250px;
  max-height: 250px;
  background-color: var(--text-primary-color);
  border-radius: 10px;
  padding: 5px;
}

/* Brand */
#brands {
  border-radius: 10px;
  border-color: var(--secondary-color);
  border: 1px;
}

/*Footer*/
footer {
  display: block;
  text-align: center;
  font-family:"Playfair Display";
  color: var(--secondary-color);
}
